.leadgen-ui .leadgen-input {
	width: 100%;
	display: block;
	margin: 0;
	padding: 9px;
	border: 1px solid $color-silver--dark;
	color: $color-gray--dark;
	transition: 0.3s ease;

	&:hover {
		border-color: $color-gray--soft;
	}

	&:focus {
		border-color: $color-green;
	}

	&.leadgen-has_error {
		border-color: $color-red;
	}
}