@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700" ');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

$font: "Open Sans", Arial, sans-serif;
$font--alt: 'Montserrat', sans-serif;
$font--icon: '';